
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  background-color: black;
  color: white;
  background: url('https://realfood.tesco.com/media/images/RFO-1400x919-ClassicPaella-a00aa895-f133-4f2b-a009-d17eb65c34a5-0-1400x919.jpg');
  
}

*{
  font-family: 'Poppins';
}


button:hover{
  opacity: 0.7;
}

input:focus{
  outline: none;
  border: none;
  box-shadow: none;
  outline-color: black;
}

